
.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.signin-image{
  width:200px;
}
.signin-dropdown{
  width:100%!important;
}

.active {
  background-color:whitesmoke!important;
  color:#33D4FF!important;
  text-decoration: none!important;
}
.btn-link-custom{
  background-color: white;
  color:black;
  text-decoration: none!important;

}
.btn-success{
  background-color:#33D4FF!important;
  border-color:#33D4FF!important;
;
}